# For data processing
DATA_DIR=/path/to/triplet_raw_data 
ROOT=/path/to/code_root (e.g. /path/to/ScaleReasoner-R1)
PROCESSED_DIR=/path/to/processed_data

# For training
ACTOR_MODEL_DIR=/path/to/base_pathor1_model
LOG_DIR=/path/to/logs
WANDB_DIR=/path/to/wandb_logs
RESULTS_DIR=/path/to/results_dir

# For exporting FSDP checkpoints to HF format
RAW_CKPT_DIR=/path/to/raw_ckpt_dir
OUR_MODEL_DIR=/path/to/our_final_model_dir

# Secrets 
GEMINI_API_KEY=
OPENAI_API_KEY=
DASHSCOPE_API_KEY=
HF_TOKEN=

