# For data processing
DATA_DIR=/path/to/triplet_raw_data (e.g. /path/to/TCGA_expert_triplet)
ROOT=/path/to/code_root (e.g. /path/to/Triplet-RL-V1)
PROCESSED_DIR=/path/to/processed_data

# For training
ACTOR_MODEL_DIR=/path/to/base_pathor1_model
LOG_DIR=/path/to/logs
WANDB_DIR=/path/to/wandb_logs
RESULTS_DIR=/path/to/results_dir

# For exporting FSDP checkpoints to HF format
RAW_CKPT_DIR=/path/to/raw_ckpt_dir
OUR_MODEL_DIR=/path/to/our_final_model_dir


# For evaluation
EVAL_RESULTS_DIR=${RESULTS_DIR}/eval_results
COMPARED_MODELS_DIR=/path/to/compared_models_dir (contain multiple model ckpt to compare)
PATHMMU_DATA_DIR=/Users/chiphan/Documents/Chi/1-Research/DigitalPathology/Patho-workenv/data/PathMMU

# Secrets 
GEMINI_API_KEY=
OPENAI_API_KEY=
DASHSCOPE_API_KEY=
HF_TOKEN=

